/* Navbar Styles */
.navbar {
    padding: 1rem 0;
}

.logo {
    height: 30px;
}

.navbar-nav .nav-link {
    color: var(--color-light-gray);
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--color-red);
}

.user-icon-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right.become-partner {
    margin-left: 1rem;
}
.nav-right.become-partner a{
    font-size: 10px;
}

.nav-right .btn-link {
    color: var(--color-light-gray);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
}
